# <font color=blue>Assignments for "Data Cleaning - Missing Values"</font>

In this assignment, you are going to use a dataset related to the US education system. Please download the ([dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)) from Kaggle. You are going to use `states_all.csv` within this dataset.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

**(1)** Find the types of variables in the dataset and the missing (null) ratio of each variable.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("states_all.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [2]:
df.isna().head()

   PRIMARY_KEY  STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0        False  False  ...                False                 True
1        False  False  ...                 True                 True
2        False  False  ...                False                 True
3        False  False  ...                False                 True
4        False  False  ...                False                 True

[5 rows x 25 columns]

In [3]:
df.isnull().sum()*100/df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

**(2)** You may have noticed that our data has a year column. For now, forget about the year data and assume that each observation was made in the same year. Consider how you can fill in missing values for each variable. Filling in the missing values with a value is meaningful for which variables and for which ones?

In [ ]:
"""
The only non-null value is state now, so we can arrange the variables that are in the same state,
then use those grouped data to fill out the missing data.
Filling in the missing values with the given values is only reasonable for the ones who got the result below 10 in the upper code.
"""

**(3)** Now it's time to consider the factor of time! Review your answer in question 2 and fill in the missing data based on the values observed during that year. For example, if you want to fill a value with an average value, calculate the average of that year.

In [4]:
indices=np.where(np.isnan(df.GRADES_ALL_G))[0].tolist()
df.GRADES_ALL_G[indices]

1632   NaN
1633   NaN
1634   NaN
1635   NaN
1636   NaN
        ..
1710   NaN
1711   NaN
1712   NaN
1713   NaN
1714   NaN
Name: GRADES_ALL_G, Length: 83, dtype: float64

In [7]:
df['GRADES_ALL_G'].fillna(df['GRADES_ALL_G'].mean(), inplace=True)
df.head()

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...                207.0                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN                  NaN
2     1992_ARIZONA     ARIZONA  ...                209.0                  NaN
3    1992_ARKANSAS    ARKANSAS  ...                211.0                  NaN
4  1992_CALIFORNIA  CALIFORNIA  ...                202.0                  NaN

[5 rows x 25 columns]

**(4)** This time, fill in the missing values by interpolating.

In [ ]:
df.GRADES_ALL_G.interpolate(method ='linear', limit_direction ='forward')

0        731634.0
1        122487.0
2        673477.0
3        441490.0
4       5254844.0
          ...
1710      94258.0
1711      94258.0
1712      94258.0
1713      94258.0
1714      94258.0
Name: GRADES_ALL_G, Length: 1715, dtype: float64

**(5)** Compare your answers on the second, third and fourth questions. Do you notice a meaningful difference?

In [ ]:
# The 3rd solution is way better than the 4th one, since GRADES_ALL column is unsorted. 
# Thus, using mean of the values is clever-ish.