In [2]:
import pandas as pd
import numpy as np

In [3]:
from pandas import read_csv
data = read_csv('train.csv')
print(data)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [4]:
s = pd.DataFrame(data)
s

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [10]:
s.groupby("Sex")["Age"].count()

Sex
female    261
male      453
Name: Age, dtype: int64

In [17]:
girls = s.loc[s["Sex"] == 'female', 'Age'].sum()

In [18]:
bois = s.loc[s["Sex"] == 'male', 'Age'].sum()

In [19]:
print("Avg age of girls is : " , girls/261)

Avg age of girls is :  27.915708812260537

In [20]:
print("Avg age of bois is : " , bois/453)

Avg age of bois is :  30.72664459161148

In [21]:
# now we're dealing with passenger class
s.groupby("Pclass")["Age"].count()

Pclass
1    186
2    173
3    355
Name: Age, dtype: int64

In [27]:
first_class = s.loc[s["Pclass"] == 1 , 'Age'].sum()
first_class

7111.42

In [30]:
second_class = s.loc[s["Pclass"] == 2, 'Age'].sum()
second_class

5168.83

In [28]:
third_class = s.loc[s["Pclass"] == 3 , 'Age'].sum()
third_class

8924.92

In [31]:
print("Avg age of first class is : " , first_class/186)
print("Avg age of second class is : " , second_class/173)
print("Avg age of third class is : " , third_class/355)

Avg age of first class is :  38.233440860215055
Avg age of second class is :  29.87763005780347
Avg age of third class is :  25.14061971830986

In [37]:
#now its the 2nd question
abc = s.groupby("Embarked")

print(s["Embarked"].unique())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fa4cfa9a7d0>
['S' 'C' 'Q' nan]